.header {
    background-color: var(--gray-700);
    display: flex;
    width: 100%;
    height: 12.5rem;
    align-items: center;
    align-content: baseline;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: bold;
}

.header h1 {
    color: var(--blue);

}

.header strong {
    color: var(--purple-dark);
}

.header svg {

    color: var(--purple-dark);
}

.addNewTask {
    display: flex;
    justify-content: center;
    margin-top: -2rem;
    gap: 0.5rem;
}

.addNewTask input {
    background: var(--gray-500);
    border: none;
    padding: 1rem;
    border-radius: 8px;
    gap: 0.2rem;
    width: 40rem;
    height: 3.3rem;
    color: var(--gray-100);
    font-size: 1rem;

}

.addNewTask input:focus-within {
    border: 1px solid var(--purple-dark);
    visibility: visible;

}

.addNewTask input::placeholder {
    font-size: 1rem;
    color: var(--gray-300);
}

.addNewTask button {
    background: var(--blue-dark);
    display: flex;
    color: var(--gray-100);
    border: none;
    cursor: pointer;
    padding: 1rem;
    gap: 0.5rem;
    border-radius: 8px;
    width: 5.6rem;
    height: 3.2rem;
    font-size: 0.8rem;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.addNewTask button:hover {
    background: var(--blue);
}



.checkbox {
    display: flex;
    margin-top: 4rem;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 22rem;
    font-weight: bold;

}

.checkbox span {
    background: var(--gray-400);
    color: var(--gray-200);
    padding: 0.5rem;
    border-radius: 8px;

}

.createTasks {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    font-size: 0.875rem;
    color: var(--blue);
    align-items: center;

}

.conclueTasks {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    font-size: 0.875rem;
    align-items: center;
    color: var(--purple);
}

.tasksList {
    display: flex;
    align-items: center;
    align-content: flex-start;
    flex-direction: column;
}